<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in dataP %}
    <form action="{% url 'updateprd' id=i.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="prdname" value="{{i.prd_name}}"><br><br>
        <input type="file" name="prdimage"><br><br>
        <input type="text" name="prdprice" value="{{i.prd_price}}"><br><br>
        <select name="prdcat">
        {% for i in dataC %}
            <option value="{{i.cat_name}}">{{i.cat_name}}</option>
        {% endfor %}
        </select>
        <input type="submit">
    </form>
    {% endfor %}
</body>
</html>